<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login Page</title>
</head>
<body>
<div align = "center">
<form action = "getStudent">
	<input type = "text" name = "sid_student"> <br>
	<input type = "text" name = "password_student"> <br>
	<input type ="submit">
	</form>
	
	<br>
	<br>
	<br>
	
	<form action = "getTeacher">
	<input type = "text" name = "id_teacher"> <br>
	<input type = "text" name = "password_teacher"> <br>
	<input type ="submit">
	</form>
</div>
	
</body>
</html>