<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1 align = "center">WELCOME STUDENTS</h1>
		
		<a th:href = "@{'/edit/0' }"> Create a new Record</a>
		
		<br>
		<br>
		<br>
		
		<table style="width:100%" class = "table">
			  <tr>
			    <th>ID</th>
			    <th>Student Name</th>
			    <th>Physics Marks</th>
			    <th>Chemistry Marks</th>
			    <th>Maths Marks</th>
			    <th>Edit</th>
			    <th>Delete</th>
			  </tr>
			  <tr th:each = "student:${students}">
			    <td th:text = "${student.id}"></td>
			    <td th:text = "${student.name}"></td>
			    <td th:text = "${student.physics}"></td>
			    <td th:text = "${student.chemistry}"></td>
			    <td th:text = "${student.maths}"></td>
			    <td>
			    <a th:href = "@{'/edit/' + ${student.id}}"> Edit</a>
			    </td>
			    <td>
			    <a th:href = "@{'/delete/' + ${student.id}}"> Delete</a>
			    </td>
			  </tr>
		</table>
</body>
</html>